@import 'normalize.css';

@font-face {
  font-family: 'MarkBook';
  src: url('~assets/fonts/MarkBook.eot');
  src: url('~assets/fonts/MarkBook.eot') format('embedded-opentype'),
       url('~assets/fonts/MarkBook.woff2') format('woff2'),
       url('~assets/fonts/MarkBook.woff') format('woff'),
       url('~assets/fonts/MarkBook.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkLight';
  src: url('~assets/fonts/MarkLight.eot');
  src: url('~assets/fonts/MarkLight.eot') format('embedded-opentype'),
       url('~assets/fonts/MarkLight.woff2') format('woff2'),
       url('~assets/fonts/MarkLight.woff') format('woff'),
       url('~assets/fonts/MarkLight.ttf') format('truetype'),
       url('~assets/fonts/MarkLight.svg#MarkExtralight') format('svg');
}

body {
  font-family: 'MarkBook';
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
  color: #ACACAC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
}

.one-c {
  width: 6.25vw
}

.two-c {
  width: calc(6.25vw * 2)
}

.three-c {
  width: calc(6.25vw * 3)
}

.four-c {
  width: calc(6.25vw * 4)
}

.five-c {
  width: calc(6.25vw * 5)
}

.six-c {
  width: calc(6.25vw * 6)
}

.seven-c {
  width: calc(6.25vw * 7)
}

.eight-c {
  width: calc(6.25vw * 8)
}

.nine-c {
  width: calc(6.25vw * 9)
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}